* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #eee;
  color: #111;
  padding: 20px;
}

.container {
  max-width: 1200px;
  background-color: #f4f0e7;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  border: 4px solid #111;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.top-nav nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 0.9rem;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.video-wrapper {
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  background-color: #f0eadd;
  border-radius: 25px;
  border: 0.5px solid black;
  max-width: 1000px;
  margin: 40px auto;
  gap: 25px;
  box-shadow: 0 0 0 3px #000;
}

.info-box {
  direction: rtl;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
  margin: 30px auto;
  max-width: 700px;
  font-family: 'Vazirmatn', Tahoma, sans-serif;
  font-size: 1.1rem;
  line-height: 2;
  text-align: justify;
  color: #222;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.download-btn {
  margin-top: 10px;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .image-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .main-image,
  .side-image {
    width: 100%;
    height: auto;
  }
}
