/* پس‌زمینه شیری */
body {
  margin: 0;
  height: 100vh;
  background-color: #f5f1e7; /* رنگ شیری */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Tahoma, sans-serif;
  direction: rtl;
}

/* کادر مشکی بزرگ */
.black-rectangle {
  background-color: #222222; /* مشکی */
  border-radius: 20px;
  padding: 15px; /* این مقدار فاصله بین کادر مشکی و شیری */
  box-sizing: border-box;
  /* اندازه ثابت یا دلخواه */
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* کادر شیری کوچکتر داخل کادر مشکی */
.cream-rectangle {
  background-color: #fdf6e3; /* رنگ شیری */
  border-radius: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
